body{
   
}
h1{
    font-size: 4rem;
    
    
}
.header{
    
    border-left: brown;
}
.orange{
    color: orange;
}
.header-describe{
    text-align: justify;
    width: 500px;
    
    
}

.header-image{
    width: 400px;
    height: 400px;
    margin-left: 100px;
}
.header-section{
    display: flex;
    margin: 10px;
}
.head-half{
    width: 50%;
    
}
.link{
    background-image: linear-gradient(orange, yellow, orangered);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    
}
.header-section{
    justify-content: center;
}

.box{
    width: 300px;
    box-sizing: border-box;
    box-shadow: 10px 0px 10px 5px rgba(0, 0, 0, 0.637);
    padding: 10px;
    margin: 20px;
    
}
.box-img{
    width: 200px;
    height: 200px;
}
.div-mission{
    text-align: center;
    
}
.one{
    background-color: rgba(7, 202, 7, 0.404);
    text-align: center;
}
.two{
    background-color: grey;
}
.three{
    background-color: #fd8787cb;
}
.head{
    text-align: center;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    
}
.footer-head{
   font-size: 30px;
   color: crimson;
    
}
.foot{
  padding: 25px;
}

.oranged{
    color: rgb(250, 90, 90);
    font-size: 30px;
}
.side-image{
    background-image: url(images/shapes/shape-1.png);
    
}
.section1{
    
}